
* {
    text-align: center;
}

body {
    font-family: 'Verdana', sans-serif;
    min-height: 500px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/141/141070.png');
    background-color: #8B008B;
    background-size: 250px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #fff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #fff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
    border-color: #fff;
}

h1 {
    color: #FFD700;
}

tr, td {
    border: solid 1px white;
    color: #FFD700;
}

th {
    border: solid 1px white;
    color: #FF8C00;
}